config system
    option hostname '{{ hostname }}'
    option timezone '{{ time.timezone }}'
    option ttylogin '0'
    option log_size '64'
    option urandom_seed '0'
    option compat_version '1.1'
    option zonename '{{ time.zonename }}'
    option log_proto 'udp'
    option conloglevel '7'
    option cronloglevel '8'

config timeserver 'ntp'
    option use_dhcp '0'{% for server in time.ntp %}
    list server '{{ server }}'{% endfor %}
