{% for radio_name, radio_prop in radios.items() %}
config wifi-device '{{ radio_name }}'
    type 'mac80211'
    option path '{{ radio_prop.path }}'
    option channel 'auto'
    option band '{{ radio_prop.band }}'
    option htmode '{{ radio_prop.htmode }}'
    option cell_density '0'
    option txpower '20'

config wifi-iface 'default_{{ radio_name }}'
    option device '{{ radio_name }}'
    option network 'lan'
    option mode 'ap'
    option ssid '{{ radio_prop.ssid }}'
    option encryption 'sae-mixed'
    option disassoc_low_ack '0'
    option key '{{ radio_prop.passwd }}'
    option ieee80211w '0'
{% endfor %}
